@page "/HospitalBedsTrend"

<div class="souces-container">
    <div class="content-box">
        <div class="header">Hospital Beds<div class="subheader">(Last @NumDays Days)</div></div>
        <NumDaysSlider @ref="_numDaysSlider" NumDaysChanged="@OnNumDaysChanged" />
        <div class="chartContainer">
            <LineChart @ref="_lineChart" TItem="int" OptionsObject="@_chartOptions">
            </LineChart>
        </div>
    </div>
</div>

