@page "/NewCaseTrends"

<div class="souces-container">
    <div class="content-box">
        <div class="header">New Confirmed Cases<div class="subheader">(Last 30 Days)</div></div>
        <TrendChart @ref="_trendChart" ChartDataType="int" DailyRecordLabel="New Confirmed Cases"/>
    </div>
</div>
