@page "/NewDeathsTrend"

<div class="souces-container">
    <div class="content-box">
        <div class="header">New Deaths<div class="subheader">(Last 30 Days)</div></div>
        <TrendChart @ref="_trendChart" ChartDataType="decimal" DailyRecordLabel="New Deaths"/>
    </div>
</div>
