@page "/PositivityRateTrend"

<div class="souces-container">
    <div class="content-box">
        <div class="header">Positivity Rate<div class="subheader">(Last @NumDays Days)</div></div>
        <NumDaysSlider @ref="_numDaysSlider" NumDaysChanged="@OnNumDaysChanged" />
        <TrendChart @ref="_trendChart" ChartDataType="decimal" DailyRecordLabel="Positivity Rate" />
    </div>
</div>
