@page "/Sources"
    <div class="souces-container">
        <div class="content-box">
            <p>
                All data is sourced from public data provided by the <a href="https://dshs.texas.gov/coronavirus/AdditionalData.aspx" target="_blank">Texas DSHS.</a>
            </p>
            <br />
            <p>
                This site is not affiliated with the Collin County Government.  
                It is an independent, non-profit, project with the purpose of filling the void left when the county stripped 
                all data from their official dashboard.
            </p>
            <br/>
            <p>
                This dashboard is a work in progress.  New pages will be added soon.
            </p>
            <br/>
            <p>
                Please send questions and comments to <a href="mailto:cccdfeedback@gmail.com">cccdfeedback@gmail.com</a>.
            </p>
        </div>
    </div>