@inherits LayoutComponentBase
<div class="page-container">
    <div class="header">
        <div class="content-box">
            <span class="header-text">Collin County Covid-19 Dashboard</span>
        </div>
    </div>
    <div class="page-content">
        @Body
    </div>
    <div class="footer-nav">
        <div class="content-box">
            <NavBar/>
        </div>
    </div>
</div>
