@inherits LayoutComponentBase
<div class="page-container">
    <div class="header">
        <div class="content-box">
            <h1>Collin County Covid-19 Dashboard</h1>
        </div>
    </div>
    <div class="page-content">
        @Body
    </div>
</div>
