<div id="NavBar">
    <div class="Previous" @onclick="GoToPreviousPage"><Icon Name="IconName.ChevronLeft"/></div>
    <div class="Current">@CurrentPageName</div>
    <div class="Next" @onclick="GoToNextPage"><Icon Name="IconName.ChevronRight" /></div>
</div>
