<div id="NavBar">
    <div class="Previous"><span class="oi oi-caret-left"></span></div>
    <div class="Current">Current</div>
    <div class="Next"><span class="oi oi-caret-right"></span></div>
</div>
