html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #011b52;
    height: 100%;
}

#app {
    height: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.parent {
}

.div1 {
}

.div2 {
}

.div3 {
}

.page-container {
    height: 98%;
    margin: 1vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 2.6fr .2fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.header {
    grid-area: 1 / 1 / 2 / 2;
}

    .header h1 {
        font-size: 2vmax;
        margin:0px;
    }

    .header .content-box {
        display: flex;
        align-items: center;
        width: 100%;
    }

.page-content {
    grid-area: 2 / 1 / 3 / 2;
    width:98vw;
}

.footer-nav {
    grid-area: 3 / 1 / 4 / 2;
}

.content-box {
    background-color: #51607c;
    color: white;
    padding: 10px;
    height: 100%;
}

    .content-box .header {
        font-size: 3vmax;
        text-align: center;
        line-height: 100%;
    }

        .content-box .header .subheader {
            font-size: 2vmax;
        }

    .content-box .primary-value {
        height: 70%;
        font-size: 10vmax;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-box .update-date {
        height: 10%;
        display: flex;
        font-size: 1vmax;
        justify-content: flex-end;
    }

        .content-box .update-date span {
            align-self: flex-end;
            text-align: right;
        }

    .content-box .footer-value {
        height: 10%;
        background-color: cornflowerblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25vmax;
    }

    .content-box a {
        color: #b1ceef;
    }

.error {
    color: red;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

    .loader-container .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#NavBar {
    display: grid;
    grid-template-columns: .75fr 1.5fr .75fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    align-items: center;
}

    #NavBar .Previous {
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
        cursor: pointer;
    }

    #NavBar .Current {
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
    }

    #NavBar .Next {
        grid-area: 1 / 3 / 2 / 4;
        text-align: right;
        cursor: pointer;
    }

.numDaysSlider{
    margin:1%;
}
.chartContainer {
    position: relative;
    height: 85%;
    width: 100%;
}

/*Index Page*/
.index-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1.5fr;
    gap: 5px 5px;
    grid-template-areas: "New-Cases Tests" "Hospitalizations Deaths";
    height: 100%;
}

    .index-grid-container .content-box .header {
        height: 10%;
    }

    /*Sources Page*/
    .souces-container {
        height: 100%;
        width: 100%;
    }
